.banner {
	display:block;
	position:relative;
	width:100%;
	height: 100%;
  background-color: #797979;
	.form-control:focus{
	 	border-color: #1abc9c;
		box-shadow: 0 0 0 0.2rem rgba(26,188,156,.25);
	}
	.btn-primary:not(:disabled):not(.disabled):active{
		background-color: #1abc9c;
		border-color: #1abc9c;
	}
	.btn-primary:not(:disabled):not(.disabled):active:focus{
		box-shadow: none;
	}
	h5{
		font-size: 14px;
		color: #fff;
		text-align: center;
		padding-top: 5%;
		@media (min-width: 480px) and (max-width: 1200px) {
			font-size: 10px;
		}
	}
	h2{
		font-size: 56px;
		color: #fff;
		text-align: center;
		margin-top: 4%;
		@media (min-width: 480px) and (max-width: 1200px) {
			font-size: 8px;
		}
		&.text{
		  top: 29%;
		  left: 12%;
		  width: 73%;
		  position: absolute;
		  text-align: center;
		  transform: translateY(-50%);
		  font-family: 'Oswald', sans-serif;
		  line-height: 60px;
			@media (min-width: 480px) and (max-width: 700px) {
				line-height: 28px;
				top: 24%;
				width: 89%;
			}
			@media (min-width: 701px) and (max-width: 1200px) {
				line-height: 28px;
				top: 24%;
				width: 79%;
			}
		  span{
		    color: #fff;
		    font-size: 70px;
		    font-weight: bold;
		    display: inline-block;
		    letter-spacing: 5px;
		    transition: 2s;
		    text-shadow: 0px 0px 0px #1abc9c;
		    position: relative;
		    top: 0px;
		    left: 0px;
		    cursor: default;
				@media (min-width: 480px) and (max-width: 1200px) {
					font-size: 28px;
				}
		    &:hover{
		      text-shadow: -8px 8px 0px #1abc9c;
		      transition: 0.3s;
		      top: -8px;
		      left: 8px;
		    }
		    &.space{width: 20px;height: 100%;}
		  }
		}
	}
	h4{
		font-size: 24px;
		color: #fff;
		text-align: center;
		margin-top: 4%;
	}
	.images_ico-video{
  	text-align: center;
  	margin-top: 24%;
		a{
			position: relative;
			img{
				position: relative;
			}
		}
	}
	form{
  	margin-top: 4%;
		input{
			display: inline-block;
			font-size: 18px;
			text-align: center;
		 	height: 48px;
			margin: -2px;
			padding: 0px;
		}
		button{
			color: #fff;
			width: 160px;
			height: 48px;
			margin: -2px;
			background-color: #1abc9c;
			border: none;
			&.bubbly-button{
			  font-family: 'Helvetica', 'Arial', sans-serif;
			  display: inline-block;
			  -webkit-appearance: none;
			  appearance: none;
			  background-color: $button-bg;
			  color: $button-text-color;
			  border-radius: 4px;
			  border: none;
			  cursor: pointer;
			  position: relative;
			  transition: transform ease-in 0.5s, box-shadow ease-in 0.1s;
			  box-shadow: 0 2px 25px #1abc9c;
			  &:focus {
			    outline: 0;
			  }
			  &:before, &:after{
			    position: absolute;
			    content: '';
			    display: block;
			    width: 140%;
			    height: 100%;
			    left: -20%;
			    z-index: -1000;
			    transition: all ease-in-out 0.7s;
			    background-repeat: no-repeat;
			  }
			  &:before{
			    display: none;
			    top: -75%;
			    background-image:
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%);
			  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
			  background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
			  }
			  &:after{
			    display: none;
			    bottom: -75%;
			    background-image:
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%),
			    radial-gradient(circle, $button-bg 20%, transparent 20%);
			  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
			  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
			  }
			  &:active{
			    transform: scale(0.9);
			    background-color: darken($button-bg, 5%);
			    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
			  }
			  &.animate{
			    &:before{
			      display: block;
			      animation: topBubbles ease-in-out 0.75s forwards;
			    }
			    &:after{
			      display: block;
			      animation: bottomBubbles ease-in-out 0.75s forwards;
			    }
			  }
			}
		}
	}
	.privacy_policy1{
  	padding-top: 5%;
  	line-height: 1.5;
		margin: 0;
		font-size: 16px;
		color: #fff;
		text-align: center;
	}
	.privacy_policy2{
  	line-height: 1.5;
		margin-bottom: 5%;
		font-size: 16px;
		color: #fff;
		text-align: center;
	 	a{
			color: #49a48e;
		}
	}
}
@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}
